[submodule "SDK/ogg"]
	path = SDK/ogg
	url = https://github.com/americusmaximus/ogg
[submodule "SDK/vorbis"]
	path = SDK/vorbis
	url = https://github.com/americusmaximus/vorbis
[submodule "SDK/zlib"]
	path = SDK/zlib
	url = https://github.com/americusmaximus/zlib.git
